{% extends "login/login_template.twig" %}
{% block content %}
    <form id="magicLink">
		<p>Введите адрес эл. почты, и мы отправим ссылку для входа</p>
		<input class="form-control form-control-lg" id="email" autocomplete="email" placeholder="Эл. почта" type="email" required style="margin-top: 10px; margin-bottom: 10px;" autofocus>
		<div style="width: 100%; text-align:right;">
            {% if signupEnabled %}
            <a href="?signup" class="btn btn-secondary">Создать аккаунт</a>
            {% endif %}
            <button class="btn btn-primary" type="submit" value="Submit">Отправить ссылку</button>
		</div>
	</form>
	<script>
    	$( document ).ready(function() {
		    $("#magicLink").fadeIn();
		});
        $("#magicLink").submit(function(){
            event.preventDefault();
            if ($("#email").val().length <= 0) {
                toastr.warning("Пожалуйста, укажите адрес эл. почты");
            } else {
                $.ajax({
                    url: "../api/login/magicLogin.php",
                    type: "POST",
                    dataType: 'json',
                    data: {"formInput" : $("#email").val(),"redirect": "{{ MAGICLINKURL|escape("js") }}"},
                    success: function(result) {
                        if (result.result) {
                            toastr.success("Письмо отправлено");
                    	} else {
                            toastr.error(result.error.message);
                        }
                    },
                    error: function(){
                        toastr.error("Обновите страницу и проверьте подключение к интернету");
                    }
                });
            }
            return false;
        });
	</script>
{% endblock %}
