{% extends "assets/template.twig" %}

{% block content %}
    <div class="error-page">
        <h2 class="headline text-warning"> 401</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> К сожалению, у вас нет доступа к этой странице</h3>

            <p>
                Если к вашей учётной записи привязано несколько компаний, убедитесь, что выбрана нужная компания.
            </p>
        </div>
    </div>
{% endblock %}
