{% extends "assets/template.twig" %}

{% block content %}
<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-12" style="padding: 5px;">
      <div class="card card-default">
          <div class="card-body" style="text-align: center;">
                <h3>Подтвердите эл. почту</h3>
                <p>Проверьте почту ({{USERDATA.users_email}}) — мы отправили письмо для подтверждения. Иногда письма попадают в спам: если не нашли, проверьте папку спам/нежелательная почта для письма от {{ fromEmail }}, или нажмите кнопку ниже, чтобы отправить снова.</p>
                <button id="submitButton" class="btn btn-default">Отправить письмо повторно</button>
                {% if "CONFIG:SET"|serverPermissions %}
                    <a href="{{CONFIG.ROOTURL}}/server/config.php" class="btn btn-default">Изменить конфигурацию сервера, чтобы отключить подтверждение эл. почты</a>
                {% endif %}
          </div>
          <div class="card-footer">
            <a href="{{ CONFIG.LINKS_SUPPORTURL }}">Связаться с поддержкой</a>
          </div>
          <script>
              $(document).ready(function () {
                  $('#submitButton').click(function () {
                    ajaxcall("account/reSendVerificationEmail.php", {}, function (data) {
                        location.reload();
                    });
                  });
              });
          </script>
      </div>
  </div>
</div>
{% endblock %}
