{% extends "assets/template.twig" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Добро пожаловать в {{ CONFIG.PROJECT_NAME }}
                </h3>
            </div>
            <div class="card-body">
                <p>Локальная установка системы управления арендами и проектами.</p>
                <hr />
                <p>В {{ CONFIG.PROJECT_NAME }} у каждой компании — своё пространство. Сервис рассчитан на работу нескольких компаний под одной учётной записью (под которой вы вошли). Для начала присоединитесь к компании {% if CONFIG["NEW_INSTANCE_ENABLED"] == "Enabled" or "INSTANCES:CREATE"|serverPermissions %}или создайте новую{% endif %}.</p>
            </div>
        </div>
        {% include 'assets/templates/joinInstance.twig' %}
    </div>
    {% if CONFIG["NEW_INSTANCE_ENABLED"] == "Enabled" or "INSTANCES:CREATE"|serverPermissions %}
    <div class="col-lg-4 col-md-6 col-sm-12">      
        {% include 'assets/templates/newInstance.twig' %}
    </div>
    {% endif %}
</div>
{% endblock %}
